2021-09-13_KursinisDarbas_BIO.pdf
2021-09-13_KursinisProjektas_BIO.pdf
IevaPudžiuvelytėKP2022.pdf
"IevaPud\305\276iuvelyt\304\227KP2022.pdf"

thesis/project.aux
thesis/project.bbl
thesis/project.blg
thesis/project.log
thesis/project.out
thesis/project.synctex.gz
thesis/project.toc
thesis/figures/old/*.png
scripts/__pycache__/*
**/*.pptx
