2021-09-13_KursinisDarbas_BIO.pdf
thesis/project.aux
thesis/project.bbl
thesis/project.blg
thesis/project.log
thesis/project.out
thesis/project.synctex.gz
thesis/project.toc
thesis/figures/old/*.png
scripts/__pycache__/*
**/*.pptx
